@model CRM_web.Models.Users

@{
    ViewData["Title"] = "Crear una nueva cuenta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header><p class="Titulo">Registrar nuevo usuario</p></header>

<div id="content">
    
    <form asp-action="Create" >
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <dl class="row">
            <ul class="list-unstyled">
                
                <dt class="col-sm-3">
                    <label asp-for="FirstName" class="text" for="nombre">  Nombre : </label>
                </dt>
                <dd class="col-sm-9">
                    <input asp-for="FirstName" type="text" class="form-control"  placeholder= "Escribe tu nombre"  required="required" pattern="[a-zA-Z\s]{3,}" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </dd>

                <dt class="col-sm-3">
                    <label asp-for="LastName" class="text" for="apellido">  Apellido : </label>
                </dt>
                <dd class="col-sm-9">
                    <input asp-for="LastName" type="text" class="form-control"  placeholder="Escribe tu apellido" required="required" pattern="[a-zA-Z\s]{5,}" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </dd>

                <dt class="col-sm-3">
                    <label asp-for="Email" class="text" for="email">  Email: </label>
                </dt>
                <dd class="col-sm-9">
                    <input asp-for="Email" type="email" class="form-control" required placeholder="Escribe tu email" />
                    <span asp-validation-for="Email" class="text-danger">@ViewData["Message2"]</span>
                </dd>

                <dt class="col-sm-3">
                    <label asp-for="GENDER" class="text" for="genero">  Genero : </label>
                </dt>
                <dd class="col-sm-9">
                    <label class="text">Hombre</label>  <input asp-for="GENDER" type="radio" value="M" required="required"> &nbsp;&nbsp;&nbsp;
                    <label class="text">Mujer</label> <input asp-for="GENDER" type="radio" value="F">
                    <span asp-validation-for="GENDER" class="text-danger"></span>
                </dd>

                <dt class="col-sm-3">
                    <label asp-for="DateoOfBirth" class="text" for="fecha de nacimiento">  Fecha de nacimiento :</label>
                </dt>
                <dd class="col-sm-9">
                    <input asp-for="DateoOfBirth" type="date" class="form-control" required="required" min="1900-01-01" max="3000-12-31" />
                    <span asp-validation-for="DateoOfBirth" class="text-danger"></span>
                </dd>
                <dt class="col-sm-3">
                    <label asp-for="LoginName" class="text">Usuario :</label>
                </dt>
                <dd class="col-sm-9">
                    <input asp-for="LoginName" class="form-control" required="required"  placeholder="Escribir usuario" pattern="[a-zA-Z\s]{5,}" />
                    <span asp-validation-for="LoginName" class="text-danger">@ViewData["Message"]</span>
                </dd>
                <dt class="col-sm-3">
                    <label asp-for="Password" class="text" for="contraseña"> Contraseña : </label>
                </dt>
                <dd class="col-sm-9">
                    <input asp-for="Password" type="password" class="form-control"  placeholder="Escribe tu contraseña" required="required">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </dd>

            </ul>
        </dl>
        <div class="form-check">
            
           <div class="Terminos">
               <label class="text" for="checkbox1">
                   <input  class="form-check-input" type="checkbox" required="required" id="checkbox1" name="privacidad">
                   <span  class="invalid"></span>
                   <a asp-area="" asp-controller="Home" asp-action="Privacy" target="_blank">
                       Aceptar terminos y condiciones de privacidad
                   </a>
               </label>
            </div>
        </div>

        <div class="col-md-12">
            <div class="botonCuentaNueva">
                <button type="reset" class="btn btn-primary btn-lg">Borrar</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="submit" class="btn btn-primary btn-lg">Registrar</button>
            </div>
        </div>
    </form>
    
</div>

<div >
    <a target="_blank" asp-controller="Home" asp-action="Index">Volver</a>
</div>
<footer class="copyright">
    <i class='bx bxs-copyright' undefined></i>Copyright2020
</footer>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
